body * {
    color: black;
    margin: 0px;
    /* text-align: center; */
}

h1 {
    font-size: 75px;
    text-align: center;
}

body {
    background-color: white;
    margin-top: 25px;
}

img {
    width: 250px;
    height: auto;
}

.image-gallery-nav {
    background-color: black;
}

.image-container {
    margin: 25px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.image-container img {
    width: 200px;
    flex: 1 1;
    height: auto;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(255,255,255);
    filter: drop-shadow(1px 4px 5px) ;
    object-fit: contain;
    transition: 300ms;
}

.image-container img:hover {
    transform: scale(1.05);
}

.selected-image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px;
}

.model-earth-logo {
    position: absolute;
    top: 10px;
    left: 25%;
    width: 75px;
    height: 75px;
}

.selected-image-container-spacer {
    width: calc(100% - 150px);
    height: calc(100% - 200px);
    padding: 100px;
    padding-left: 75px;
    padding-right: 75px;
}

.selected-image-container-spacer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
}

.exit-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.3);
    background-image: url('../public/closeIcon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 0px;
}

.button-hover {
    transition: 0.3s;
}

.button-hover:hover {
    transform:scale(1.3);
}

.next-button {
    position: absolute;
    top: 50%;
    right: 0px;
    width: 70px;
    height: 70px;
    border-radius: 1000px;
    background-color: transparent;
    /* background-color: rgba(255,255,255,0.3);
    background-image: url('/public/next.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
    border: 0px;
}

.next-button::after {
    content: "";
    --arrow-size: 2rem;
    border-left: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid transparent;
    border-top: var(--arrow-size) solid black;
    display: inline-block;
    transform: rotate(-90deg) translateY(-0.25rem);
    -webkit-transform: rotate(-90deg) translateY(-0.25rem);
}

.previous-button {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 70px;
    height: 70px;
    border-radius: 1000px;
    background-color: transparent;
    /* background-color: rgba(255,255,255,0.3);
    background-image: url('/public/prev.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
    border: 0px;
}

.previous-button::after {
    content: "";
    --arrow-size: 2rem;
    border-left: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid transparent;
    border-top: var(--arrow-size) solid black;
    display: inline-block;
    transform: rotate(90deg) translateY(0.25rem);
    -webkit-transform: rotate(90deg) translateY(0.25rem);
}

.open-burger-menu-button {
    position: absolute;
    top: 5px;
    right: 75px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.3);
    background-image: url('/public/burger-menu.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 0px;
}

.burger-menu {
    position: absolute;
    background-color: white;
    top: 60px;
    right: 75px;
    border-radius: 2px;
    padding: 10px;
}

.burger-menu * {
    text-align: left;
    color: black;
}

.navbar {
    width: 100%;
    height: 3.5rem;
    display: inline-block;
}

.navbar .me-logo {
    height: 3.5rem;
    width: auto;
    left: 0px;
}